body{
    background-color: black;
}



.midiv{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
    background-color: red;
    margin: auto;
}

h1{
color: aliceblue;
}

.apiCallButton{
    height: 5em;
    width :12em;
    background-color: blueviolet;
    border-radius: 80%;
}
h4{
    color: rgb(0, 0, 0);
}