.adminDesign {
background-color: rgb(218, 238, 255);


}


.appointmentRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10em;
    width: 100%;
    background-color: rgb(252, 242, 242);
    margin-top: 5px;
}
h6{
    color: black;
}


.appointmentList{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}
